
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<body style="background-color: beige; font-family: Verdana, Arial;">
    <link href="~/Content/Login.css" rel="stylesheet" type="text/css" />
</body>