@{

    ViewData["Title"] = "Bem Vindo!";
    
    }

    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    
    <div class="container">
    
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>    
        
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>    <button type="submit">Login</button>
        
        </div>

        <p>Use this area to provide additional information.</p>
    